@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-primary: #6366f1;
    --color-dark: #0B0f19;
    --color-gray: #9397ad;
    --color-white: #FFFFFF;
    --color-lightgray: #565973;

    --container-padding: 1rem;
    -o-transition-time: all 0.2s;
}

* {
    box-sizing: border-box;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
    
}



body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    /* background: linear-gradient(to bottom, rgb(241, 244, 253, 0.07) 0%, rgba(218,70,239,0.05) 42%, rgba(99,101,241,0.1) 100%);; */
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}




.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin: .5rem;
}

.mobile-first {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.toggle-btn-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.toggle-btn-switch .label {
    display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input {
    opacity: 0;
}
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}
.toggle-switch input:checked + .slider::before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray);
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round:before {
    border-radius: 50px;
}

.navbar {
    display: none;
}
.navlink {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}
.navlink:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.active {
    color: var(--color-primary);
    text-decoration: none;
}

#icon-sign-in-btn {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    color: var(--color-lightgray);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .credit {
        display: none;
    }
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    } 
}

.brand-box {
    border: 1px solid #E2E5F1;
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone2x img {
    max-width: 100%;
    display: none;
}

.left {
    display: block;
}

#rubrik {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    font-weight: 800;
    font-size: 56px;
}


.brödtext {
    color: var(--color-lightgray);
    font-size: 18px;

}

.knappar {
    display: flex;
    gap: 1.5rem;
    padding-top: 3rem;
}

.discoverdiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-lightgray); 
    padding-top: 14rem;;
}

.discover-more {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    background-color: var(--color-white);
}
.discover-text {
    display: flex;
    align-items: center;

}

.backgroundclr {
    background: linear-gradient(to bottom, rgb(241, 244, 253, 0.07) 0%, rgba(218,70,239,0.05) 42%, rgba(99,101,241,0.1) 100%);;
}

.section-container {
    display: flex;
    width: 100%;
    gap: 50px;
}


.page2 {
    display: grid;
}

.appfeatures {
    font-size: 40px;
    font-weight: 800;
    color: var(--color-dark);
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    margin-top: auto;
    margin-bottom: auto;
}

.p2brödtext {
    font-size: 18px;
    color: var(--color-gray);
    grid-column: 3 / 6;
    grid-row: 2 / 2;
}

.iphonevisa {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    margin-right: 190px;
}


.card-container {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    p {
        color: var(--color-lightgray);
    }
    h5 {
        color: var(--color-dark);
        font-size: 20px;
    }

}
#innehåll-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;

}
#innehåll-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;

}
#innehåll-3 {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    display: grid;

}
#innehåll-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;

}
#innehåll-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;

}
#innehåll-6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;

}

.innehåll {
    display: flex;
    align-items: flex-start;
    width: 340px;
    height: 140px;
    .app-images{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      h5{
        font-weight: 800;
        font-size: 20px;
        grid-column: 2 /3;
        grid-row: 1 / 3;
        align-self: baseline;

      }
      p {
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-self: flex-end;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        width: 230px;
      }
}


.app-images {
    height: 60px;
    width: 60px;
    background-color: #e2e2e2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.backgroundclr2 {
    background-color: #F3F6FF;
}

.howdoesitwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1rubrik {
    font-weight: 800;
    color: var(--color-dark);
    margin-top: 67px;
    margin-bottom: 47px;
    font-size: 40px;
}

.phonex3 {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.h4rubrik {
    font-weight: 800;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.p3brödtext {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-lightgray);
}

#nästa {
    margin-bottom: 100px;
}

.page4 {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.both-sides {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 240px;
    margin-top: 5rem;
}

.makemoney {
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

#h2rubrik {
    font-weight: 800;
    font-size: 32px;
}

.check1 {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 19px;
    color: var(--color-lightgray);
    /* margin-bottom: 10px; */
}


.btn-learn-more {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
}

.btn-learn-more i {
    margin: .5rem;
}

.btn-learn-more:hover {
    color: var(--color-white);
    background-color: var(--color-gray);
    text-decoration: none;
}

.btn--learn {
    padding-top: 1.5rem;
}

.bottom-both {
    display: flex;

}

#h2rubrik2 {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 2rem;
}

.right-side {
    margin-left: 6rem;
}

.innehåll-p4 {
    display: inline-block;
    margin: 0rem 1.5rem 1.5rem 0rem;

    p {
        margin-top: 1rem;
        color: var(--color-lightgray);
    }
}




@media (min-width: 768px) {
    .container {
        max-width: 720px;

    }
    .toggle-btn-switch .label {
        display: block;
    }
    header .container {
        gap: 3rem;
    }

    footer {
        .credit {
            display: block;
        }
    }

    #brands {
        display: block;

    }

    #brand5, #brand6 {
        display: none;
    }
    .iphone2x img {
        display: flex;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;

    }
    header .container {
        gap: 3rem;
        grid-template-columns: auto 1fr auto auto;
    }
    #icon-sign-in-btn {
        display: block;
    }
    .mobile-first {
        display: none;
    }
    .navbar {
        display: block;
    }
    #brand5, #brand6 {
        display: flex;
    }

}